@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">


<body>

    <div id="wrapper">
        <div id="menu">
            <p class="welcome">Welcome To JoeBot <b></b></p>
            <div style="clear:both"></div>
        </div>

        <div id="chatbox"></div>

        <form name="message" action="">
            <input name="usermsg" type="text" id="usermsg" size="63" />
            <input name="submitmsg" type="submit" id="submitmsg" />
        </form>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript">
        // jQuery Document
        $(document).ready(function () {
            $('#chatbox').append('<div class="msgln"><i>You are chatting with Joe!</i></div>');

            $.ajax({
                url: 'http://127.0.0.1:5000/?message=hello',
                type: "GET",
                success: function (result) {
                     $('#chatbox').append('<div class="msgln"> Joe: ' + result + '</div>');
                }
            })


            $("#usermsg").focus();

        });

        $("#submitmsg").click(function () {
            var clientmsg = $("#usermsg").val();
            console.info(clientmsg);

            $('#chatbox').append('<div class="msgln"> You: ' + clientmsg + '</div>');

            $.ajax({
                url: 'http://127.0.0.1:5000/?message=' + clientmsg,
                type: "GET",
                success: function (result) {
                     $('#chatbox').append('<div class="msgln"> Joe: ' + result + '</div>');
                }
            })

            $("#usermsg").val('');
            $("#usermsg").focus();
          
            return false;
        });
    </script>
</body>
</html>